<link rel="stylesheet" href="/public/css/pork.css">
<!-- https://freewilli.herokuapp.com -->
<div id="wrapper">
    <div class="pig pigone">
        <div class="pig-mainbody">
            <div class="nose dark-pink">
                <div class="nostrils-wrap">
                    <div class="nostrils pink"></div>
                    <div class="nostrils pink"></div>
                </div>
            </div>
            <div class="eyes">
                <div class="eyes-wrap">
                    <div class="pupils teal"></div>
                    <div class="pupils teal"></div>
                </div>
            </div>
            <div class="body-wrap">
                <div class="body-left">
                    <div class="quarter pink"></div>
                    <div class="quarter bottom-left pink"></div>
                </div>
                <div class="body-mid pink"></div>
                <div class="body-right">
                    <div class="quarter top-right pink"></div>
                    <div class="quarter bottom-right pink"></div>
                </div>
            </div>
            <div class="ear">
                <div class="quarter top-right dark-pink"></div>
                <div class="quarter bottom-right bottom-left dark-pink"></div>
            </div>
            <div class="tail-wrap">
                <div class="tail"></div>
            </div>
            <div class="mouth-wrap">
                <div class="mouth"></div>
            </div>
        </div>
        <div class="leg-wrap one">
            <div class="leg-left dark-pink"></div>
            <div class="leg-right dark-pink"></div>
        </div>
        <div class="leg-wrap two">
            <div class="leg-left pink"></div>
            <div class="leg-right pink"></div>
        </div>
        <div class="leg-wrap three">
            <div class="leg-left dark-pink"></div>
            <div class="leg-right dark-pink"></div>
        </div>
        <div class="leg-wrap four">
            <div class="leg-left pink"></div>
            <div class="leg-right pink"></div>
        </div>
    </div>
    <div class="pig pigtwo">
        <div class="pig-mainbody">
            <div class="nose dark-pink">
                <div class="nostrils-wrap">
                    <div class="nostrils pink"></div>
                    <div class="nostrils pink"></div>
                </div>
            </div>
            <div class="eyes">
                <div class="eyes-wrap">
                    <div class="pupils teal"></div>
                    <div class="pupils teal"></div>
                </div>
            </div>
            <div class="body-wrap">
                <div class="body-left">
                    <div class="quarter pink"></div>
                    <div class="quarter bottom-left pink"></div>
                </div>
                <div class="body-mid pink"></div>
                <div class="body-right">
                    <div class="quarter top-right pink"></div>
                    <div class="quarter bottom-right pink"></div>
                </div>
            </div>
            <div class="ear">
                <div class="quarter top-right dark-pink"></div>
                <div class="quarter bottom-right bottom-left dark-pink"></div>
            </div>
            <div class="tail-wrap">
                <div class="tail"></div>
            </div>
            <div class="mouth-wrap">
                <div class="mouth"></div>
            </div>
        </div>
        <div class="leg-wrap one">
            <div class="leg-left dark-pink"></div>
            <div class="leg-right dark-pink"></div>
        </div>
        <div class="leg-wrap two">
            <div class="leg-left pink"></div>
            <div class="leg-right pink"></div>
        </div>
        <div class="leg-wrap three">
            <div class="leg-left dark-pink"></div>
            <div class="leg-right dark-pink"></div>
        </div>
        <div class="leg-wrap four">
            <div class="leg-left pink"></div>
            <div class="leg-right pink"></div>
        </div>
    </div>
    <div class="pig pigthree">
        <div class="pig-mainbody">
            <div class="nose dark-pink">
                <div class="nostrils-wrap">
                    <div class="nostrils pink"></div>
                    <div class="nostrils pink"></div>
                </div>
            </div>
            <div class="eyes">
                <div class="eyes-wrap">
                    <div class="pupils teal"></div>
                    <div class="pupils teal"></div>
                </div>
            </div>
            <div class="body-wrap">
                <div class="body-left">
                    <div class="quarter pink"></div>
                    <div class="quarter bottom-left pink"></div>
                </div>
                <div class="body-mid pink"></div>
                <div class="body-right">
                    <div class="quarter top-right pink"></div>
                    <div class="quarter bottom-right pink"></div>
                </div>
            </div>
            <div class="ear">
                <div class="quarter top-right dark-pink"></div>
                <div class="quarter bottom-right bottom-left dark-pink"></div>
            </div>
            <div class="tail-wrap">
                <div class="tail"></div>
            </div>
            <div class="mouth-wrap">
                <div class="mouth"></div>
            </div>
        </div>
        <div class="leg-wrap one">
            <div class="leg-left dark-pink"></div>
            <div class="leg-right dark-pink"></div>
        </div>
        <div class="leg-wrap two">
            <div class="leg-left pink"></div>
            <div class="leg-right pink"></div>
        </div>
        <div class="leg-wrap three">
            <div class="leg-left dark-pink"></div>
            <div class="leg-right dark-pink"></div>
        </div>
        <div class="leg-wrap four">
            <div class="leg-left pink"></div>
            <div class="leg-right pink"></div>
        </div>
    </div>
    <div class="pig pigfour">
        <div class="pig-mainbody">
            <div class="nose dark-pink">
                <div class="nostrils-wrap">
                    <div class="nostrils pink"></div>
                    <div class="nostrils pink"></div>
                </div>
            </div>
            <div class="eyes">
                <div class="eyes-wrap">
                    <div class="pupils teal"></div>
                    <div class="pupils teal"></div>
                </div>
            </div>
            <div class="body-wrap">
                <div class="body-left">
                    <div class="quarter pink"></div>
                    <div class="quarter bottom-left pink"></div>
                </div>
                <div class="body-mid pink"></div>
                <div class="body-right">
                    <div class="quarter top-right pink"></div>
                    <div class="quarter bottom-right pink"></div>
                </div>
            </div>
            <div class="ear">
                <div class="quarter top-right dark-pink"></div>
                <div class="quarter bottom-right bottom-left dark-pink"></div>
            </div>
            <div class="tail-wrap">
                <div class="tail"></div>
            </div>
            <div class="mouth-wrap">
                <div class="mouth"></div>
            </div>
        </div>
        <div class="leg-wrap one">
            <div class="leg-left dark-pink"></div>
            <div class="leg-right dark-pink"></div>
        </div>
        <div class="leg-wrap two">
            <div class="leg-left pink"></div>
            <div class="leg-right pink"></div>
        </div>
        <div class="leg-wrap three">
            <div class="leg-left dark-pink"></div>
            <div class="leg-right dark-pink"></div>
        </div>
        <div class="leg-wrap four">
            <div class="leg-left pink"></div>
            <div class="leg-right pink"></div>
        </div>
    </div>
</div>